body{background:#fff!important;}

form.string-manipulation-form {
   box-shadow:0 0 20px #ddd;
   padding:30px;
   max-width:600px;
   margin:30px auto;
   min-height: 250px;
}
.block-page-title-block  .page-title{ margin:0px auto 15px; max-width:600px;}
form.string-manipulation-form label{margin-bottom:7px;}

form.string-manipulation-form select,form.string-manipulation-form input[type="text"]{width:100%;padding:6px 12px;}

form.string-manipulation-form input#edit-submit {
    margin: auto;
    display: block;
    width: 100px;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 14px;
    margin-top:25px;
}

.col + .col{margin-top:15px;}


@media(max-width:767px){

    .colGroup{padding:15px;}	 
}

@media(min-width:768px){
    div#main-wrapper {
        min-height: calc(100vh - 386px);
    }
}