<div{{ attributes }}>
    <div class="colGroup">
        <div class="col"><label>Input String</label><p>{{ input_string }}</p></div>
        <div class="col"><label>Input Type</label><p>{{ manipulation_type|capitalize }}</p></div>
        <div class="col"><label>Output String</label><p>{{ output_string }}</p></div>
    </div>
</div>